In [1]:
import pandas as pd
import numpy as np

In [2]:
#DataFrame
d=[0,1,2,3,4]
df=pd.DataFrame(d)
print(df)
print("-------")
ds=pd.Series(d)
print(ds)

   0
0  0
1  1
2  2
3  3
4  4
-------
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [3]:
ds.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
df["newCol"]=d
print(df)
print("------------")
df["newCol2"]=5
print(df)

   0  newCol
0  0       0
1  1       1
2  2       2
3  3       3
4  4       4
------------
   0  newCol  newCol2
0  0       0        5
1  1       1        5
2  2       2        5
3  3       3        5
4  4       4        5

1)df에서 newCol3을 기존의 newCol2의 값을 기준으로 만들고, 기존의 newCol2의 모든 값을 100배 한 값을 newCol3에 생성
2)df에서 newCol2에서 2번째 값을 확인(5)하고, 이 값을 2000으로 변경하기

In [6]:
df["newCol3"]=df["newCol2"]*100
print(df)

   0  newCol  newCol2  newCol3
0  0       0        5      500
1  1       1        5      500
2  2       2        5      500
3  3       3        5      500
4  4       4        5      500

In [7]:
df["newCol2"][1]=2000
print(df)

   0  newCol  newCol2  newCol3
0  0       0        5      500
1  1       1     2000      500
2  2       2        5      500
3  3       3        5      500
4  4       4        5      500

In [8]:
df.iat[1,2]
df

   0  newCol  newCol2  newCol3
0  0       0        5      500
1  1       1     2000      500
2  2       2        5      500
3  3       3        5      500
4  4       4        5      500

In [9]:
stock_price_DF_withIndex = pd.DataFrame(
    [10000,10300,9900,10500,11000],
    index=["2020-03-01","2020-03-02",
          "2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withIndex

                0
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [10]:
stock_price_DF_withIndex.rename(columns = {0:"시가"}, inplace=True)
stock_price_DF_withIndex

               시가
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [11]:
stock_price_DF_withIndex.rename(columns = {"시가":"시가2"}, inplace=True)
stock_price_DF_withIndex

              시가2
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [12]:
stock_price_DF_withIndex.rename(columns = {"시가2":"시가"}, inplace=True)
stock_price_DF_withIndex

               시가
2020-03-01  10000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [13]:
stock_price_DF_withIndex["종가"]=[350,234,234000,13000,12000]
stock_price_DF_withIndex["고가"]=[13000,15000,15000,122000,17000]
stock_price_DF_withIndex["저가"]=[3000,5000,5000,8000,7000]

In [14]:
stock_price_DF_withIndex

               시가      종가      고가    저가
2020-03-01  10000     350   13000  3000
2020-03-02  10300     234   15000  5000
2020-03-03   9900  234000   15000  5000
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000

In [15]:
stock_price_DF_withIndex.iat[0,0]

10000

Q) 2020년 3월 1일의 시가/종가를 출력해보세요

In [16]:
stock_price_DF_withIndex.iat[0,1]

350

Q) 2020년 3월 1일에서 2020년 3월 3일의 시가/종가/고가/저가를 출력해 보세요!!

In [17]:
print("시가",stock_price_DF_withIndex.iat[2,0])
print("종가",stock_price_DF_withIndex.iat[2,1])
print("고가",stock_price_DF_withIndex.iat[2,2])
print("저가",stock_price_DF_withIndex.iat[2,3])

시가 9900
종가 234000
고가 15000
저가 5000

In [18]:
stock_price_DF_withIndex.loc["2020-03-03",["시가","종가","고가","저가"]]

시가      9900
종가    234000
고가     15000
저가      5000
Name: 2020-03-03, dtype: int64

In [19]:
stock_price_DF_withIndex.loc["2020-03-01":"2020-03-03","시가":"저가"]
stock_price_DF_withIndex.loc["2020-03-01":"2020-03-03",:]

               시가      종가     고가    저가
2020-03-01  10000     350  13000  3000
2020-03-02  10300     234  15000  5000
2020-03-03   9900  234000  15000  5000

In [20]:
stock_price_DF_withIndex.shape[0]

5

In [21]:
stock_price_DF_withIndex.shape[1]

4

In [22]:
stock_price_DF_withIndex.shape

(5, 4)

In [23]:
stock_price_DF_withIndex.values

array([[ 10000,    350,  13000,   3000],
       [ 10300,    234,  15000,   5000],
       [  9900, 234000,  15000,   5000],
       [ 10500,  13000, 122000,   8000],
       [ 11000,  12000,  17000,   7000]], dtype=int64)

In [24]:
obj = pd.Series([4.5, 7.2, -5.3],index=["c","b","a"])
obj

c    4.5
b    7.2
a   -5.3
dtype: float64

In [25]:
obj.reindex(["a","d","e","c","b"])

a   -5.3
d    NaN
e    NaN
c    4.5
b    7.2
dtype: float64

In [26]:
stock_price_DF_withIndex.sort_index(axis=0,ascending=False)

               시가      종가      고가    저가
2020-03-5   11000   12000   17000  7000
2020-03-04  10500   13000  122000  8000
2020-03-03   9900  234000   15000  5000
2020-03-02  10300     234   15000  5000
2020-03-01  10000     350   13000  3000

In [27]:
# 가로 정렬
stock_price_DF_withIndex.sort_index(axis=1,ascending=False).sort_index(axis=0)

                종가    저가     시가      고가
2020-03-01     350  3000  10000   13000
2020-03-02     234  5000  10300   15000
2020-03-03  234000  5000   9900   15000
2020-03-04   13000  8000  10500  122000
2020-03-5    12000  7000  11000   17000

In [28]:
stock_price_DF_withIndex.sort_values(by="고가",ascending=False)

               시가      종가      고가    저가
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000
2020-03-02  10300     234   15000  5000
2020-03-03   9900  234000   15000  5000
2020-03-01  10000     350   13000  3000

In [29]:
stock_price_DF_withIndex.sort_values(by=["고가","종가"],ascending=False)

               시가      종가      고가    저가
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000
2020-03-03   9900  234000   15000  5000
2020-03-02  10300     234   15000  5000
2020-03-01  10000     350   13000  3000

In [30]:
stock_price_DF_withIndex

               시가      종가      고가    저가
2020-03-01  10000     350   13000  3000
2020-03-02  10300     234   15000  5000
2020-03-03   9900  234000   15000  5000
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000

In [31]:
stock_price_DF_withIndex.apply(lambda x:x.max()-x.min(),axis=1)

2020-03-01     12650
2020-03-02     14766
2020-03-03    229000
2020-03-04    114000
2020-03-5      10000
dtype: int64

In [32]:
stock_price_DF_withIndex.applymap(lambda x :x*100)

                 시가        종가        고가      저가
2020-03-01  1000000     35000   1300000  300000
2020-03-02  1030000     23400   1500000  500000
2020-03-03   990000  23400000   1500000  500000
2020-03-04  1050000   1300000  12200000  800000
2020-03-5   1100000   1200000   1700000  700000

In [33]:
stock_price_DF_withIndex

               시가      종가      고가    저가
2020-03-01  10000     350   13000  3000
2020-03-02  10300     234   15000  5000
2020-03-03   9900  234000   15000  5000
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000

In [34]:
stock_price_DF_withIndex["Gap"]=stock_price_DF_withIndex.apply(lambda x:x.max()-x.min(),axis=1)
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap
2020-03-01  10000     350   13000  3000   12650
2020-03-02  10300     234   15000  5000   14766
2020-03-03   9900  234000   15000  5000  229000
2020-03-04  10500   13000  122000  8000  114000
2020-03-5   11000   12000   17000  7000   10000

In [35]:
stock_price_DF_withIndex["Gap_forloop"]=0
for i in range(0,len(stock_price_DF_withIndex)) :
    # i 번째 줄에서 앞의 4개의 컬럼의 값을 가지고 와야 함
    temp=stock_price_DF_withIndex.iloc[i,0:4]
    tempMax=temp.max()
    tempMin=temp.min()
    stock_price_DF_withIndex.iat[i,5]=tempMax-tempMin
    
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  Gap_forloop
2020-03-01  10000     350   13000  3000   12650        12650
2020-03-02  10300     234   15000  5000   14766        14766
2020-03-03   9900  234000   15000  5000  229000       229000
2020-03-04  10500   13000  122000  8000  114000       114000
2020-03-5   11000   12000   17000  7000   10000        10000

In [36]:
stock_price_DF_withIndex["gap_forloop"]=0.0
labels = ["gap_forloop"]
labels_idx=[stock_price_DF_withIndex.columns.get_loc(i) for i in labels]
cols=["시가","종가","저가","고가"]
cols_idx=[stock_price_DF_withIndex.columns.get_loc(i) for i in cols]

for i in range(0, len(stock_price_DF_withIndex)):
    temp=stock_price_DF_withIndex.iloc[i,cols_idx]
    stock_price_DF_withIndex.iat[i,labels_idx[0]]=temp.max()-temp.min()
    
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  Gap_forloop  gap_forloop
2020-03-01  10000     350   13000  3000   12650        12650      12650.0
2020-03-02  10300     234   15000  5000   14766        14766      14766.0
2020-03-03   9900  234000   15000  5000  229000       229000     229000.0
2020-03-04  10500   13000  122000  8000  114000       114000     114000.0
2020-03-5   11000   12000   17000  7000   10000        10000      10000.0

In [37]:
labels=["시가","고가","종가"]

labels_idx=[stock_price_DF_withIndex.columns.get_loc(label) for label in labels]
labels_idx

[0, 2, 1]

In [38]:
del stock_price_DF_withIndex["Gap_forloop"]

In [39]:
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  gap_forloop
2020-03-01  10000     350   13000  3000   12650      12650.0
2020-03-02  10300     234   15000  5000   14766      14766.0
2020-03-03   9900  234000   15000  5000  229000     229000.0
2020-03-04  10500   13000  122000  8000  114000     114000.0
2020-03-5   11000   12000   17000  7000   10000      10000.0

In [40]:
for i in stock_price_DF_withIndex.index:
    temp = stock_price_DF_withIndex.loc[i, ["시가","종가","고가","저가"]]
    gap = temp.max()-temp.min()
    stock_price_DF_withIndex.at[i, "gap_forloop2"]=gap    
stock_price_DF_withIndex

               시가      종가      고가    저가     Gap  gap_forloop  gap_forloop2
2020-03-01  10000     350   13000  3000   12650      12650.0       12650.0
2020-03-02  10300     234   15000  5000   14766      14766.0       14766.0
2020-03-03   9900  234000   15000  5000  229000     229000.0      229000.0
2020-03-04  10500   13000  122000  8000  114000     114000.0      114000.0
2020-03-5   11000   12000   17000  7000   10000      10000.0       10000.0

In [41]:
stock_price_DF_withIndex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2020-03-01 to 2020-03-5
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   시가            5 non-null      int64
 1   종가            5 non-null      int64
 2   고가            5 non-null      int64
 3   저가            5 non-null      int64
 4   Gap           5 non-null      int64
 5   gap_forloop   5 non-null      float64
 6   gap_forloop2  5 non-null      float64
dtypes: float64(2), int64(5)
memory usage: 480.0+ bytes

In [42]:
stock_price_DF_withIndex[["시가", "종가", "고가","저가"]].apply(lambda x: np.mean(x), axis =0)

시가    10340.0
종가    51916.8
고가    36400.0
저가     5600.0
dtype: float64

In [43]:
stock_price_DF_withIndex.apply(lambda x: np.mean(x), axis =0)

시가              10340.0
종가              51916.8
고가              36400.0
저가               5600.0
Gap             76083.2
gap_forloop     76083.2
gap_forloop2    76083.2
dtype: float64