In [1]:
import numpy as np

In [12]:
# names - name of student, data - grade of Korean,Eng,math,science 
names = np.array(["Bob","Joe","Will","Bob","Will","Joe","Joe"])
data = np.random.randint(30,100,(7,4))
print(names)
print(data)

['Bob' 'Joe' 'Will' 'Bob' 'Will' 'Joe' 'Joe']
[[75 33 72 98]
 [99 63 39 42]
 [84 49 91 32]
 [73 75 74 86]
 [81 31 88 50]
 [39 59 72 65]
 [65 47 47 81]]

In [13]:
data[[0,3]]

array([[75, 33, 72, 98],
       [73, 75, 74, 86]])

In [15]:
data[names == "Bob",:2]

array([[75, 33],
       [73, 75]])

In [18]:
print(names[names=="Bob"])
print(len(names[names=="Bob"]))

['Bob' 'Bob']
2

In [19]:
data[[0,3],:]

array([[75, 33, 72, 98],
       [73, 75, 74, 86]])

In [21]:
data[(names=="Bob") | (names=="Will"), :2]

array([[75, 33],
       [84, 49],
       [73, 75],
       [81, 31]])

In [23]:
data

array([[75, 33, 72, 98],
       [99, 63, 39, 42],
       [84, 49, 91, 32],
       [73, 75, 74, 86],
       [81, 31, 88, 50],
       [39, 59, 72, 65],
       [65, 47, 47, 81]])

90점 초과해야지 그 과목 통과, 아니면 통과 못함
그리고 그 학기 이수를 위해서는 통과한 과목이 1과목 이상이여야 함
그러면 누가 이번 학기 이수를 할 수 있을까??

In [28]:
data[data<90]=0
data

array([[ 0,  0,  0, 98],
       [99,  0,  0,  0],
       [ 0,  0, 91,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0],
       [ 0,  0,  0,  0]])

In [30]:
data[data>90]=1
data

array([[0, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [31]:
# 조건에 만족한 것이 어디에 있는지 포지션 확인하기
np.where(data>0)

(array([0, 1, 2], dtype=int64), array([3, 0, 2], dtype=int64))

In [32]:
np.where(data>0)[0]

array([0, 1, 2], dtype=int64)

In [33]:
# 중복제거
np.unique(np.where(data>0)[0])

array([0, 1, 2], dtype=int64)

In [34]:
names[[0,1,2]]

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [36]:
names[np.unique(np.where(data>0)[0])]

array(['Bob', 'Joe', 'Will'], dtype='<U4')

Pandas

In [37]:
import pandas as pd
import numpy as np

In [41]:
stock_price_list =[10000,10300,9900,10500,11000]
stock_price_list

[10000, 10300, 9900, 10500, 11000]

In [42]:
#Series는 "1차원 데이터"=>index+value
stock_price_Series = pd.Series([10000,10300,9900,10500,11000])
stock_price_Series

0    10000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [43]:
stock_price_list[0:3]

[10000, 10300, 9900]

In [44]:
stock_price_Series[0:3]

0    10000
1    10300
2     9900
dtype: int64

In [47]:
stock_price_Series = pd.Series([10000,10300,9900,10500,11000],
                              index=["2020-03-01","2020-03-02",
                                    "2020-03-03","2020-03-04","2020-03-5"])
stock_price_Series

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [48]:
stock_price_Series[1]

10300

In [51]:
stock_price_Series["2020-03-5"]

11000

In [54]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object')

In [55]:
stock_price_Series.values

array([10000, 10300,  9900, 10500, 11000], dtype=int64)

In [57]:
len(stock_price_Series)

5

In [58]:
len(stock_price_Series.values)

5

In [59]:
for i in range(len(stock_price_Series)):
    print("index:",stock_price_Series.index[i])
    print("values:",stock_price_Series.values[i])

index: 2020-03-01
values: 10000
index: 2020-03-02
values: 10300
index: 2020-03-03
values: 9900
index: 2020-03-04
values: 10500
index: 2020-03-5
values: 11000

In [62]:
for i in stock_price_Series.index:
    print("index:",i)

index: 2020-03-01
index: 2020-03-02
index: 2020-03-03
index: 2020-03-04
index: 2020-03-5

In [64]:
for i in stock_price_Series.values:
    print("values:",i)

values: 10000
values: 10300
values: 9900
values: 10500
values: 11000

In [66]:
idx =[1,3,4]
[stock_price_list[i] for i in idx]

[10300, 10500, 11000]

In [69]:
stock_price_Series*3

2020-03-01    30000
2020-03-02    30900
2020-03-03    29700
2020-03-04    31500
2020-03-5     33000
dtype: int64

가격이 10000 이상인 값들만 추려보기

In [75]:
stock_price_Series[stock_price_Series>10000]

2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [76]:
"2020-03-01" in stock_price_Series

True

In [81]:
sdata={"APPLE":1000,"MS":2000,"AMAZON":3000,"TESLA":5000,"UBER":100}
sdata

{'APPLE': 1000, 'MS': 2000, 'AMAZON': 3000, 'TESLA': 5000, 'UBER': 100}

In [84]:
obj3 = pd.Series(sdata)
obj3

APPLE     1000
MS        2000
AMAZON    3000
TESLA     5000
UBER       100
dtype: int64

In [85]:
states = ["GOOGLE","APPLE","AMAZON"]
states

['GOOGLE', 'APPLE', 'AMAZON']

In [86]:
obj4=pd.Series(sdata, states)
obj4

GOOGLE       NaN
APPLE     1000.0
AMAZON    3000.0
dtype: float64

In [87]:
obj3+obj4

AMAZON    6000.0
APPLE     2000.0
GOOGLE       NaN
MS           NaN
TESLA        NaN
UBER         NaN
dtype: float64

In [88]:
pd.isnull(obj4)

GOOGLE     True
APPLE     False
AMAZON    False
dtype: bool

In [90]:
pd.notnull(obj4)

GOOGLE    False
APPLE      True
AMAZON     True
dtype: bool

In [91]:
stock_price_Series.index.name="Stock Price Data"

In [93]:
# 차원 구하기
stock_price_Series.ndim

1

In [94]:
stock_price_Series.shape

(5,)

In [95]:
stock_price_Series.size

5

In [101]:
stock_price_Series.iat[0]

10000

In [102]:
stock_price_Series.iloc[0:3]

Stock Price Data
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [106]:
stock_price_Series.loc[["2020-03-02","2020-03-03"]]

Stock Price Data
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [107]:
stock_price_Series.loc["2020-03-02":"2020-03-03"]

Stock Price Data
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [98]:
stock_price_Series.at["2020-03-01"]

10000

In [108]:
len(stock_price_Series)

5

In [109]:
stock_price_Series.count()

5

In [110]:
add_data=pd.Series([12345],index=["2020-06-24"])
add_data

2020-06-24    12345
dtype: int64

In [112]:
stock_price_Series.append(add_data,verify_integrity=True)

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
2020-06-24    12345
dtype: int64

In [113]:
stock_price_Series.max()

11000

In [114]:
stock_price_Series.min()

9900

In [115]:
stock_price_Series.mean()

10340.0

In [116]:
stock_price_Series.var()

193000.0

In [117]:
stock_price_Series.std()

439.31765272977594